
$primary: (
  50 : #e7e7f2,
  100 : #c2c4dd,
  200 : #999dc7,
  300 : #7076b1,
  400 : #5258a0,
  500 : #333b8f,
  600 : #2e3587,
  700 : #272d7c,
  800 : #202672,
  900 : #141960,
  A100 : #999dff,
  A200 : #666dff,
  A400 : #333cff,
  A700 : #1a23ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$accent: (
  50 : #e7edff,
  100 : #c4d2ff,
  200 : #9db4ff,
  300 : #7696ff,
  400 : #5880ff,
  500 : #3b69ff,
  600 : #3561ff,
  700 : #2d56ff,
  800 : #264cff,
  900 : #193bff,
  A100 : #ffffff,
  A200 : #fdfdff,
  A400 : #cad1ff,
  A700 : #b1baff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
