
$primary: (
  50 : #fbe3e8,
  100 : #f6b9c5,
  200 : #f08b9f,
  300 : #ea5d79,
  400 : #e63a5c,
  500 : #e1173f,
  600 : #dd1439,
  700 : #d91131,
  800 : #c50030,
  900 : #af002b,
  A100 : #fff6f7,
  A200 : #ffc3c7,
  A400 : #ff9098,
  A700 : #ff7780,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent: (
  50 : #e7edff,
  100 : #c4d2ff,
  200 : #9db4ff,
  300 : #7696ff,
  400 : #5880ff,
  500 : #3b69ff,
  600 : #3561ff,
  700 : #2d56ff,
  800 : #264cff,
  900 : #193bff,
  A100 : #ffffff,
  A200 : #fdfdff,
  A400 : #cad1ff,
  A700 : #b1baff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
